<template id="edge-popup-template">
    <div>
        <strong class="popup-header">
            <i class="mdi mdi-information-outline"></i> Detalhes da Ligação
        </strong>
        <div class="popup-body">
            Porta A: <span class="porta-a"></span> (<span class="modo-a"></span>)<br>
            Porta B: <span class="porta-b"></span> (<span class="modo-b"></span>)<br>
            <div>
                <span class="badge-estado">Estado: <span class="estado-stp"></span></span>
            </div>
        </div>
    </div>
</template>